@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:#f1f5f9;
    font-family:Inter,sans-serif;
}

.sidebar-link{
    display:flex;
    align-items:center;
    gap:.75rem;
    padding:.85rem 1rem;
    border-radius:.6rem;
    transition:.2s;
    color:#cbd5e1;
}

.sidebar-link:hover{
    background:#334155;
    color:white;
}

.sidebar-active{
    background:#2563eb;
    color:white;
}

.card-dashboard{
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}
